body {
    margin: 10px;
    font-size: 50px;
    font-family: "Arial", sans-serif;
    padding: 5px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#sres {
    padding-left: 20px;
}

#faqheading {
    font-size: 36px;
    padding-bottom: 30px;
}

li {
    line-height: 2em;
    list-style-type: circle;
}

ul {
    padding: 10px;
}

#menu {
    text-align: center;
    width: 100%;
    display: block;
    height: 30px;
    margin-bottom: 30px;
}

#menu li {
    float: none;
    margin-right: 10px;
    margin-left: 10px;
}

#menu li a {
    color: #333;
}

.featprod {
    color: #ff0000;
}

input {
    display: inline-block;
    border: 2px solid #babdbe;
    padding: 4px 8px;
}

input[type="text"] {
    width: 200px;
}

#submit:hover {
    color: #1565C0;
}

a {
    text-decoration: underline;
    color: #007bff;
}

#submitadd {
    float: right;
}

.productPicture {
    width: 30%;
    margin: 3%;
}

.browsePicture {
    width: 75%;
    max-height: 12em;
    overflow: hidden;
}

#header1 {
    padding: 40px;
    background: #333;
    color: #fff;
    font-size: 24px;
    height: 150px;
}
